.relative {
  position: relative;
}

.-bottom-14 {
  bottom: -3.5rem;
}

.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.-mt-14 {
  margin-top: -3.5rem;
}

.bg-[#adc178] {
  background-color: #adc178;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.bg-[#6c584c] {
  background-color: #6c584c;
}

.opacity-50 {
  opacity: 0.5;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  color: #ffffff;
}

.max-w-prose {
  max-width: 65ch;
}

.mt-4 {
  margin-top: 1rem;
}

.text-[#f0ead2] {
  color: #f0ead2;
}

.rounded-full {
  border-radius: 9999px;
}

.inline-block {
  display: inline-block;
}

.hover\:bg-[#6c584c]:hover {
  background-color: #6c584c;
}

.bg-[#a98467] {
  background-color: #a98467;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
