.transition-div {
    width: 0;
    height: 0;
    border-left: 49vw solid transparent;
    border-right: 49vw solid transparent;
    border-bottom: 50px solid #dde5b4;
    margin: 0 auto;
    position: relative;
    bottom: -6px;
  }
  