@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(6deg);
  }
  30% {
    transform: rotate(4deg);
  }
  40% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(-4deg);
  }
  80% {
    transform: rotate(-6deg);
  }
  90% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-tilt {
  animation: tilt 5s infinite ease-in-out;
}
